.logoCoverWrapper {
  padding: 0;
  width: 100%;
  max-width: 1800px;
  height: 800px;
  overflow: hidden;
  background: url('../../images/logo-cover.jpg') no-repeat center;
  background-size: cover;
}
