.logoCoverWrapper {
  padding: 0;
  width: 100%;
  min-height: 60vw;
  overflow: hidden;
  background: url('../../images/logo-cover.jpg') no-repeat center;
  background-size: contain;
}

@media only screen and (min-width: 1200px) {
  .logoCoverWrapper {
    background-size: cover;
  }
}
