.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1230px;

  .itemWrapper {
    max-width: 18%;
    min-width: 12rem;
    padding: 0 1rem;
    color: #929292;
    text-align: center;
    transition: all .4s ease;

    .itemIcon {
      max-height: 50px;
      margin: 1rem auto;
      opacity: .8;
      transition: all .4s ease;
    }

    &:hover {
      color: #000;

      .itemIcon {
        transform: scale(1.2);
        opacity: 1;
      }
    }
  }
}


@media only screen and (max-width: 1200px) {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    .itemWrapper {
      max-width: 80%;
    }
  }
}
