.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1230px;
  gap: 4rem;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.imgWrapper {
  width: 40%;
}

.imageHero {
  max-height: 350px;
}

.textSpan {
  color: #0cb900;
  margin-right: 5px;
}

@media only screen and (min-width: 992px) {
  h1 {
    text-align: left;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .innerWrapper {
    width: 100%;

    div {
      margin: 0 auto;
    }
  }

  .imgWrapper {
    width: 100%;
    text-align: center;
  }
}
