* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  overflow-x: hidden;
  background-color: #fff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  z-index: 999999;
  box-shadow: 0 1px 10px -5px #bebebe;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 8rem 3rem;
  background-color: #f9f9f9;
  border-top: 1px solid #ebebeb;

  a {
    color: #1e3f61;

    &:hover {
      color: #00a5f8;
    }
  }
}

nav {
  display: flex;
  gap: 2rem;
}

a {
  background-color: transparent;
  color: #000;
  text-decoration: none;
  transition: 0.2s ease;

  &:hover {
    color: #00a5f8;
  }
}

button {
  display: inline-block;
  margin: 10px;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  background-color: #49c2ff;
  letter-spacing: .6px;
  border-radius: 3px;
  box-shadow: 0 9px 20px -5px #bebebe;
  transition: all .3s ease;
  border: none;
  cursor: pointer;
  line-height: 28px;
  vertical-align: center;

  &:hover {
    background-color: #00a5f8;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #cacaca;
  }
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;

  li {
    padding-left: 1rem;
  }
}


img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  border: none;
  overflow: clip;
  overflow-clip-margin: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 40px;
  color: #1e3f61;
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

form {
  width: 100%;
  max-width: 1200px;
  padding: 0 4rem;
}

label {
  display: block;
  color: #1e3f61;
  letter-spacing: 0.02em;
}

input, textarea {
  font-family: 'Nunito Sans', sans-serif;
  min-width: 100%;
  font-size: 1rem;
  color: #1e3f61;
  padding: 10px;
  border: 1px solid #747494;
  border-radius: 6px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  outline-color: #00a5f8;
}

textarea {
  resize: none;
}

.flex {
  display: flex;
}

.mr-10 {
  margin-right: 10px;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.bg-grey {
  background-color: #f9f9f9;
}

.align-items {
  align-items: center;
}

.float {
  float: right;
}

.float-btn {
  float: right;
}

.top-50 {
  top: 50px;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #00a5f8 #00a5f8;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 8px;
  height: 8px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

.sendUsMailBtn {
  position: relative;
  display: inline-block;
  margin-left: 1.6rem;
  padding: 12px 20px;
  font-weight: 500;
  color: #fff;
  background-color: #49c2ff;
  letter-spacing: .6px;
  border-radius: 3px;
  box-shadow: 0 9px 20px -5px #bebebe;
  transition: all .3s ease;

  &__mb-80 {
    margin-bottom: 80px;
  }

  &__mr-80 {
    margin-right: 80px;
  }

  &__mobile {
    margin-top: 1rem;
    margin-left: 2rem;
  }

  span {
    padding: 0 12px 0 8px;
  }

  &:hover {
    color: #fff;
    background-color: #00a5f8;
  }

  .animation1 {
    position: absolute;
    bottom: -90px;
    left: -58px;
    width: 100px;
    z-index: -1;
  }

  .animation2 {
    position: absolute;
    top: -90px;
    right: 60px;
    width: 100px;
    z-index: -1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}


@media only screen and (max-width: 1200px) {
  footer {
    padding: 1rem 3rem 3rem 6rem;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .float {
    float: none;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  footer {
    padding: 1rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
  }


}

@media only screen and (max-width: 600px) {
  form {
    padding: 0rem;
  }
}
